@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --steel-pink: #B830AA;
    --dark-purple: #1B0E2B;
    --aquamarine: #00FFE0;
    --inter: "Inter", sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 30px;
    position: fixed;
    z-index: 300;
    background-color: var(--steel-pink); 
}
.container-icons{
    display: flex;
    gap: 30px;
}
.container-icons .menu-icon{
    font-size: 2rem;
    color: #ffff;
}
.cyber-book-icon{
    width: 60px;
    height: 60px;
}
.cyber-book-icon:hover{
    transform: scale(1.1);
}

.form-container{
    position: relative;
    display: flex;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  margin: 0px 50px;
}
.menu-searcher{
    width: 100%;
    padding: 10px;
    height: 40px;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid var(--dark-purple);
    box-sizing: border-box;
}
.menu-magnify{
    font-size: 25.55px;
    color: #ffff;
    border: 1px solid var(--dark-purple);
    padding: 1px 4px 3.5px;
    background-color: var(--dark-purple);
    border-radius: 0px 4px 4px 0px;
}
.menu-magnify:hover{
    background-color: var(--steel-pink);
    color: var(--dark-purple);
}
.toggler-menu{
    display: none;
}
/*Estilos para el resultado de búsqueda*/
.container-search-results{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffff;
    width: calc(100% - 35px);
    padding: 1px;
    border: 1px solid var(--dark-purple);
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding-top: 5px;
    box-sizing: border-box;
    z-index: 1000;
   
}
.search-results{
    list-style: none;
    padding: 10px;
}
.result:hover{
    background-color: #ccc;
}
.show-search{
    display: block;
}

.hidde-search{
    display: none;
}
@media screen and (max-width: 1320px) {
    .toggler-menu{
        display: block;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        height: 40px;
        background-color: var(--dark-purple);
        padding: 10px;
        border: 2px solid var(--dark-purple);
    }
    .bi-list{
        font-size: 30px;
        font-weight: bold;
        color: #ffff;
    }
    .toggler-menu:hover{
        background-color: var(--steel-pink);
    }
    .toggler-menu:hover .bi-list{
        color:  var(--dark-purple);
    }
    .container-icons{
        position: absolute;
        left: 0;
        top: 95px;
        background-color: var(--steel-pink);
        width: 100%;
        padding: 30px;
        justify-content: space-around;  
    }
    .hide{
       display: none;
     }
     .show{
       display: flex;
    }
    
}

@media screen and (max-width: 800px){
    .cyber-book-icon{
        transition: all 0.3s ease;
    }
    .container-icons{
        top: 83px;
    }
    
}



